<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css">
    <title>My amazing blog</title>
</head>

<body>
    Current user: {{ request.user }}
    <div id="sidebar">
        <ul>
            <li><a href="{% url "lms:list-students" %}"> List students</a></li>
            <li><a href="{% url "accounts:user-logout" %}"> Log Out</a> </li>
        </ul>
    </div>

    <div id="content">
      {% block content %}
        <h2>Entry one</h2>
        <p>This is my first entry.</p>

        <h2>Entry two</h2>
        <p>This is my second entry.</p>
      {% endblock %}
    </div>
</body>
</html>